$custom-primary-color: #D90429;
$custom-second-color: #2B2D42;
$custom-thirth-color: #EF233C;
$custom-fourth-color: #8D99AE;
$custom-fiveth-color: #EDF2F4;
// Text colors
$primary-txt-color: $custom-fiveth-color;
//Border colors
$primary-border-color: $custom-thirth-color;
//Border Radius for all
$b-radius: 10px;